/* 
Created 04/06/2013 for zoom74.ru by @minru9
COLORS & FONTS
#E01926 	red
#F9F9F9 	BG

#FBDC21 	alternate

#4B4B4B
#3B3B3B
#222222
#191919
 */
/* FONTS
font-family: 'Cuprum', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'PT Sans Caption', sans-serif;
 */
 @import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic|PT+Serif:400italic|PT+Sans+Caption&subset=cyrillic,cyrillic-ext,latin);
 
 /* REGULARS */
 *{
 	outline: medium none !important;
 }
body{
	background: #F9F9F9;
	font-family: 'Cuprum', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}
a, a:visited{
	color: #222;
	text-decoration: none;
}
a:hover, a:focus{
	color: #E01926;
	text-decoration: none;
}
.content{
	padding-top: 100px;
}
.header{
	border-bottom: 1px #222 solid;
	padding-bottom: 22px;
	margin-bottom: 85px;
}
.footer{
	border-top: 1px solid #222;
	font-size: 16px;
	padding: 20px;
}
.footer .copyright{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #222;
	padding: 15px 0;
	margin: 0 0 20px 0;
}
h1{
	text-transform: uppercase;
	font-size: 50px;
	line-height: 62px;
}
h2{
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
	color: #3B3B3B;
}
h3{
	border-bottom: 1px solid #222;
}
.half-sized{
	/* overflow: hidden; */
	/*background: #FFD;*/
	position: relative;
}
.thumbnail{
	border: 0;
	box-shadow: 0 0 0;
	padding: 0;
}
.thumbnail:hover h3, .thumbnail:focus h3{
	color: #E01926;
}
.thumbnail-img{
	position: relative;
}
.thumbnail-img i{
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
}
.thumbnail:hover .thumbnail-img i{
	display: block;
}
.thumbnail:hover span.img-hover-bg-left{
	background: #E01926;
	width: 50%;
	height: 50%;
	position: absolute;
	left: -5px;
	top: -5px;
	display: block;
	z-index: -1;
}
.thumbnail:hover span.img-hover-bg-right{
	background: #E01926;
	width: 50%;
	height: 50%;
	position: absolute;
	right: -5px;
	bottom: -5px;
	display: block;
	z-index: -1;
}
.fit{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	margin-top: -160px;
	margin-left: -250px;
}
.centered{
	float: none;
	margin: auto;
	text-align: center;
}
.fullwidth{
	width:100%;
}
.contact-panel{
	position: absolute;
	color: #F9F9F9;
	background: #E01926;
	top: 0;
	height: 70px;
	width: 100%;
	z-index: 1;
	display: none;
}
.contact-button{
	position: absolute;
	right: 20px;
	top: 10px;
	text-indent: -2000px;
	width: 50px;
	height: 50px;
}
#logo{
	padding-top: 50px;
}
#logo-caption{
	margin-bottom: 10px;
	padding: 20px 0;
	font-family: "PT Sans Caption", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 25px;
}
#slider{
	/* height: 200px;
	min-height: 100px; */
	/*overflow: hidden;*/
	/*position: absolute;*/
}
#slider .background{
		background-image: url("../img/bg1.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 100%;

}
#slider .background, .half-sized{
		min-height: 300px;
}
#scroll-to-content{
	background: #E01926;
	position: relative;
	margin: -40px auto 0;
	
	z-index: 1; 
	border: 5px solid #F9F9F9;
}
#scroll-to-content a span{
	display: block;
	text-indent: -2000px;
}
.scene{
	display: none;
	position: relative;
	height: 700px;
	width: 100%;
	top: 0;
	left: 0;
	background: #FCF;
}
.circle {
	width: 50px;
	height: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.content > blockquote{
	position: relative;
}
/* Цитата*/
blockquote.quote{
	max-width: 80%
;	display: block;
	border: 0;
	padding: 20px 20px 20px 20px;
	margin-bottom: 80px;

	font-size: 36px;
	line-height: 44px;
}
blockquote.quote:before, blockquote.quote:after{
	content: "\"";
	color: #E01926;
	/*display: block;*/
	position: absolute;
	font-size: 120px;
}
blockquote.quote:after{
	top: 100%;
	left: 95%;
}
blockquote.quote:before{
	top: 0;
	left: 0;
}

/*
blockquote i{
	font-size: 51px;
	color: #E01926;
	position: absolute;
}
i.open{
	top: 0;
	left: 0;
}
i.closed{
	top: 100%;
	left: 100%;
}*/

/*ICONS myicon*/
[class^='myicon-'],
[class*=' myicon-']{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-image: url("../img/icons.png");
}
.myicon-message, .myicon-message-big{
	background-position: 0 		0;
}
.myicon-message-small{
	background-position: -50px 	0;
}
.myicon-down, .myicon-down-white{
	background-position: 1px  	-50px;
}
.myicon-down-black{
	background-position: -50px 	-50px;
}
.myicon-plus-white{
	background-position: 2px 	-101px;
}
.myicon-plus-red{
	background-position: -48px 	-100px;
}
/*ICONS myicon END*/
/*navigation bar*/
nav {
	border-top: 1px #222 solid;
	margin: 0 auto;
	display: block;
	max-width: 400px;
}
nav ul, nav ol{
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	zoom: 1;
	display: block;
}
nav li{
	display: inline;
	float:left;
	width: 30%;
	text-align: center;
}
nav li a{
	position: relative;
	display: inline-block;
	padding: 15px 5px 6px;

	font-size: 23px;
	line-height: 21px;
	line-height: 26px;
	font-weight: normal;
	text-transform: uppercase;
}
/* верхний анимированный блок */
nav li a span{
	background: #222;
	height: 4px;
	position: absolute;
	top: 0;
	left:5px;
	right: 5px;
	display: none;
}
nav li.active a span{
	display: block;
}
nav li.active a, nav li a:focus{
	/*color: #E01926;*/
	font-weight: bold;
}

/*navigation bar END*/



.test-container{
	width: 100%;
	height: 500px;
	background: #CFF;
}
.item{
	width: 100px;
	height: 50px;
	background:#FFC;
	border: 1px dashed #000;
}
.item2{
	width: 80px;
	height: 50px;
	background:#ccc;
	border: 1px dashed #000;
}
.color1{
	background:#eee;
	
}
.color2{
	background:#ddd;
}
.color3{
	background:#aaa;
}
