.half-sized{
	overflow: hidden;
	background: #FFD;
}

#slider{
	overflow: hidden;
	/*position: absolute;*/
}
#slider .background{
		background-image: url(http://placehold.it/1600x500);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 180px;
		position: relative;
		height: 100%;

}

.color1{
	background:#eee;
	
}
.color2{
	background:#ddd;
}
.color3{
	background:#aaa;
}

.centered{
	float: none;
	margin: auto;
	text-align: center;
}
.fullwidth{
	width:100%;
}